<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="com.portalQA_En.TestCases.Login"/>
      <class name="com.portalQA_En.TestCases.Admin_ReoportIAP"/>
      <class name="com.portalQA_En.TestCases.Report_IAPorders"/>
      <class name="com.portalQA_En.TestCases.Report_AppUsage"/>
      <class name="com.portalQA_En.TestCases.Admin_ReportUsage"/>
      <class name="com.portalQA_En.TestCases.Create_Refund"/>
      <class name="com.portalQA_En.TestCases.Report_Download"/>
      <class name="com.portalQA_En.TestCases.Admin_ReportDownlaod"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
